<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>List of Employees</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
          {% if request.user.is_authenticated %}
                <div class="navbar-brand">
          {{ request.user }}
                    </div>
        <a class="navbar-brand" href="{% url 'logout' %}">Log out</a>

          {% else %}
            <a class="navbar-brand" href="{% url 'login' %}">Login</a>

          {% endif %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          </ul>
        </div>
      </div>
    </nav>





        <form method="POST" action="{% url 'list' %}">
            {% csrf_token %}

        <input type="search" placeholder="Employee ID" name="ID">
        <input type="search" placeholder="Full name" name="fullname">
        <input type="search" placeholder="Position" name="pos">
        <input type="search" placeholder="Employment date 2017-05-01" name="employdate">
        <input type="search" placeholder="Salary" name="zp">
        <input type="search" placeholder="Boss ID" name="boss">
        <input type="submit" class="btn btn-primary">
        {% for message in messages %}
            <h2>{{ message }}</h2>

            {% endfor %}
</form>

    <table style="width:100%">
<tr>
              <form method="get" name="testing">

                <th><a href="{% url 'list' %}?cat=id&order=asc" type="submit" name="ID_sorting">ID</a>
                <a href="{% url 'list' %}?cat=id&order=desc" type="submit" name="ID_sorting">(наоборот)</a></th>

                <th><a href="{% url 'list' %}?cat=full_name&order=asc" type="submit" name=fullname_sorting">Full name</a>
                <a href="{% url 'list' %}?cat=full_name&order=desc" type="submit" name=fullname_sorting">(наоборот)</a></th>


                <th><a href="{% url 'list' %}?cat=position&order=asc" type="submit" name=position_sorting">Position</a>
                    <a href="{% url 'list' %}?cat=position&order=desc" type="submit" name=position_sorting">(наоборот)</a></th>

                <th><a href="{% url 'list' %}?cat=employment_date&order=asc" type="submit" name=employmentdate_sorting">Employment date</a>
                <a href="{% url 'list' %}?cat=employment_date&order=desc" type="submit" name=employmentdate_sorting">(наоборот)</a></th>

                <th><a href="{% url 'list' %}?cat=salary&order=asc" type="submit" name=salary_sorting">Salary</a>
                    <a href="{% url 'list' %}?cat=salary&order=desc" type="submit" name=salary_sorting">(наоборот)</a></th>

                <th><a href="{% url 'list' %}?cat=boss&order=asc" type="submit" name=boss_sorting">Boss</a>
                    <a href="{% url 'list' %}?cat=boss&order=desc" type="submit" name=boss_sorting">(наоборот)</a></th>

              </form>
          </tr>

            {% for i in page_obj %}

              <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.full_name }}</td>
                <td>{{ i.position }}</td>
                <td>{{ i.employment_date }}</td>
                <td>{{ i.salary }}</td>
                <td>ID: {{ i.boss.id }} {{ i.boss }}</td>
              </tr>


            {% endfor %}
    </table>
        {% if request.method == 'GET' %}
          <span class="step-links">
          {% if page_obj.has_previous %}
              <h1><a href="?page={{ page_obj.previous_page_number }}{% if valid_type %}&valid_type={{ valid_type }}{% endif %}{% if valid_cat %}&valid_cat={{ valid_cat }}{% endif %}&{{ parameters }}">Previous</a></h1>
          {% endif %}

          <span class="current">
              <h1><b>Page</b> {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</h1>
          </span>

          {% if page_obj.has_next %}
              <h1><a href="?page={{ page_obj.next_page_number }}{% if valid_type %}&valid_type={{ valid_type }}{% endif %}{% if valid_cat %}&valid_cat={{ valid_cat }}{% endif %}&{{ parameters }}">Next</a></h1>
          {% endif %}

            </span>
    {% endif %}


<!--       <ul>-->
<!--           {% for p in page_obj.paginator.page_range %}-->
<!--           <li>-->
<!--                {% if 'cat' in request.urlencode %}-->
<!--                   <a href="?{{ request.urlencode }}&page={{ p }}">{{ p }}</a>-->
<!--               {% else %}-->
<!--                    <a href="?page={{ p }}">{{ p }}</a>-->
<!--               {% endif %}-->
<!--&lt;!&ndash;<a href="?page={{ p }}">{{ p }}</a>&ndash;&gt;-->
<!--           </li>-->
<!--           {% endfor %}-->
<!--       </ul>-->



</body>
</html>