<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
  <h1>FILTER</h1>
<!--    <form class="d-flex" method="GET" action=".">-->
<!--        {% csrf_token %}-->
<!--        <input class="form-control me-2" type="search" placeholder="ID" aria-label="Search" name="search_id">-->
<!--        <input class="form-control me-2" type="search" placeholder="full name" aria-label="Search" name="search_full_name">-->
<!--        <input class="form-control me-2" type="search" placeholder="position" aria-label="Search" name="search_position">-->
<!--        <input class="form-control me-2" type="search" placeholder="employment date" aria-label="Search" name="search_employment_date">-->
<!--        <input class="form-control me-2" type="search" placeholder="salary" aria-label="Search" name="search_salary">-->
<!--        <input class="form-control me-2" type="search" placeholder="boss" aria-label="Search" name="search_boss">-->
<!--&lt;!&ndash;        <button class="btn btn-outline-success" type="submit">Search</button>&ndash;&gt;-->
<!--    </form>-->

<!--    <form>-->
<!--        <table style="width:100%">-->
<!--          <tr>-->
<!--            <th>ID</th>-->
<!--            <th>Full name </th>-->
<!--            <th>Position</th>-->
<!--            <th>Employment date</th>-->
<!--            <th>Salary</th>-->
<!--            <th>Boss</th>-->
<!--          </tr>-->
<!--    {% for i in employees %}-->
<!--          <tr>-->
<!--            <td>{{ i.id }}</td>-->
<!--            <td>{{ i.full_name }}</td>-->
<!--            <td>{{ i.position }}</td>-->
<!--            <td>{{ i.employment_date }}</td>-->
<!--            <td>{{ i.salary }}</td>-->
<!--            <td>{{ i.boss }}</td>-->
<!--          </tr>-->

<!--    {% endfor %}-->
<!--    </table>-->
<!--    </form>-->

</body>
</html>